<?xml version="<?xml version="1.0"?>

<model>
  <name>lighthouse4</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>ifizmat</name>
    <email>ifizmat@gmail.com</email>
  </author>

  <description>
    Castom model Lighthouse export Blender to Collada 
    with textures bricks walls PNG backed by addon TexTools
    https://github.com/franMarz/TexTools-Blender.
  </description>
</model>"?>
